@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Roboto";
}

.popular-view{
    position: relative;
    display: block;
    height: 500px;
    width: 85%;
    background-color: #8395a7;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #8395a7, transparent);
}

.slider-bar {
    display: flex;
    width: 100%;
    height: 280px;
    margin-top: 10px;
    /* padding: 10px 10px 10px 0px; */
}

.slider-bar .item-container{
    height: 80%;
    width: 140px;
    margin-left: 20px;
}

.item-container .item{
    height: 80%;
    width: 100%;
    padding: 10px 10px 10px 0;
}

.item img{
    height: 100%;
    width: 140px;
}

.item-container h1 {
    
    font-size: 15px;
    color: white;
    padding: 0;
    font-weight: 700;
    text-decoration: underline;
}

.row-Header-title {
    color: #c8d6e5;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #222f3e;
}


